{% if pages.pageCount > 1 %}
    <ul class="pagination">

        {% if pages.firstPageInRange != 1 %}
            <li class="page-item">
                {# FIXME: Need check pass routes before use default _route from request #}
                <a class="page-link" href="{{ path(
                    routes ? routes : app.request.attributes.get('_route'),
                    app.request.query.all|merge({'page': pages.first})) }}">{{ 'first'|trans }}</a></li>

        {% endif %}

        {% if pages.previous is defined %}
            <li class="page-item">
                {# FIXME: Need check pass routes before use default _route from request #}
                <a class="page-link"
                   href="{{ path(routes ? routes : app.request.attributes.get('_route'), app.request.query.all|merge({'page': pages.previous})) }}">{{ 'previous'|trans }}</a>
            </li>
        {% endif %}

        {% if pages.firstPageInRange != 1 %}
            <li class="page-item">...</li>
        {% endif %}

        {% for page in pages.pagesInRange %}
            <li class="page-item{% if page == pages.current %} active{% endif %}">
                {# FIXME: Need check pass routes before use default _route from request #}
                <a class="page-link"
                   href="{{ path(routes ? routes : app.request.attributes.get('_route'),app.request.query.all|merge({'page': page})) }}">
                    {{ page }}
                </a>
            </li>
        {% endfor %}

        {% if pages.last != pages.lastPageInRange %}
            <li class="page-item">...</li>
        {% endif %}

        {% if pages.next is defined %}
            <li class="page-item">
                {# FIXME: Need check pass routes before use default _route from request #}
                <a class="page-link"
                   href="{{ path(routes ? routes : app.request.attributes.get('_route'),app.request.query.all|merge({'page': pages.next})) }}">{{ 'next'|trans }}</a>
            </li>
        {% endif %}

        {% if pages.last != pages.lastPageInRange %}
            <li class="page-item">
                {# FIXME: Need check pass routes before use default _route from request #}
                <a class="page-link" href="{{ path(
                    routes ? routes : app.request.attributes.get('_route'),
                    app.request.query.all|merge({'page': pages.last})) }}">{{ 'last'|trans }}</a></li>
        {% endif %}

    </ul>
{% endif %}
