<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item ">
                <a href="{{ url('admin_home') }}"><i class="la la-home"></i> <span class="menu-title" data-i18n="nav.dash.main">Dashboard</span></a>
            </li>
            <li class=" nav-item">
                <a href="#"><i class="la la-user"></i><span class="menu-title"
                                                            data-i18n="nav.users.main">Profile</span></a>
                <ul class="menu-content">
                    <li>
                        <a class="menu-item" href="{{ url('admin_profile_index') }}" data-i18n="nav.users.users_contacts">Listing</a>
                    </li>
                    <li>
                        <a class="menu-item" href="{{ url('admin_profile_insert') }}" data-i18n="nav.users.user_cards">Insert</a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item">
                <a href="#"><i class="la la-user"></i><span class="menu-title"
                                                            data-i18n="nav.users.main">Authentication</span></a>
                <ul class="menu-content">
                    <li>
                        <a class="menu-item" href="{{ url('admin_authen_index') }}" data-i18n="nav.users.users_contacts">Listing</a>
                    </li>
                    <li>
                        <a class="menu-item" href="{{ url('admin_authen_insert') }}" data-i18n="nav.users.user_cards">Insert</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
