{% extends '@backend/base.twig' %}

{% block title %}Authen login{% endblock %}

{% block body %}
    <div class="app-content content">
        <div class="content-wrapper">
            {{ include('@backend/authen/_breadcumb.twig') }}
            <div class="content-body">
                <!-- Row separator layout section start -->
                <section id="row-separator-form-layouts">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="row-separator-basic-form">User Info</h4>
                                    <a class="heading-elements-toggle"><i
                                                class="la la-ellipsis-h font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <div class="card-text">
                                            <p>Description for using this page</p>
                                        </div>


                                        {{ form_start(form,{'attr': {'class': 'form form-horizontal row-separator'}}) }}
                                            {{ form_errors(form) }}
                                            {{ form_widget(form._token) }}
                                            <div class="form-body">
                                                <h4 class="form-section"><i class="la la-user"></i> Personal Information</h4>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control"
                                                           for="email">Email</label>
                                                    <div class="col-md-9">
                                                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group row last">
                                                    <label class="col-md-3 label-control" for="gender">Username</label>
                                                    <div class="col-md-9">
                                                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <h4 class="form-section"><i class="la la-clipboard"></i> More Information
                                                </h4>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control"
                                                           for="description">Password</label>
                                                    <div class="col-md-9">
                                                        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control"
                                                           for="contact">Profile</label>
                                                    <div class="col-md-9">
                                                        {{ form_widget(form.profile, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-actions">
                                                <button type="button" class="btn btn-warning mr-1">
                                                    <i class="la la-remove"></i> Cancel
                                                </button>
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="la la-check"></i> Save
                                                </button>
                                            </div>
                                        {{ form_end(form,{'render_rest': false}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Row separator layout section end -->
            </div>
        </div>
    </div>
{% endblock %}