<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description"
          content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords"
          content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="Backend module">
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="apple-touch-icon" href="{{ asset('images/ico/apple-icon-120.png','backend') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/ico/favicon.ico','backend') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700"
          rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vendors.css','backend') }}">
    <!-- END VENDOR CSS-->
    <!-- BEGIN MODERN CSS-->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css','backend') }}">
    <!-- END MODERN CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css"
          href="{{ asset('css/core/menu/menu-types/vertical-compact-menu.css','backend') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/core/colors/palette-gradient.css','backend') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('vendors/css/charts/jquery-jvectormap-2.0.3.css','backend') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendors/css/charts/morris.css','backend') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/simple-line-icons/style.css','backend') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/core/colors/palette-gradient.css','backend') }}">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css','backend') }}">
    <!-- END Custom CSS-->
</head>
<body class="vertical-layout vertical-compact-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
      data-menu="vertical-compact-menu" data-col="2-columns">

<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-4 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 m-0">
                            <div class="card-header border-0">
                                <div class="card-title text-center">
                                    <div class="p-1">
                                        <img src="{{ asset('backend/images/logo/logo-dark.png') }}" alt="branding logo">
                                    </div>
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                    <span>Login with Modern of Authen module</span>
                                </h6>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form-horizontal form-simple" action="/authen/login" method="POST"
                                          novalidate>
                                        {% if error %}
                                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'authen') }}</div>
                                        {% endif %}
                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}">
                                        <fieldset class="form-group position-relative has-icon-left mb-0">
                                            <input type="email" value="{{ last_username }}" name="email"
                                                   class="form-control form-control-lg input-lg" id="user-email"
                                                   placeholder="Your email"
                                                   required>
                                            <div class="form-control-position">
                                                <i class="ft-user"></i>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="password" name="password"
                                                   class="form-control form-control-lg input-lg" id="user-password"
                                                   placeholder="Enter Password" required>
                                            <div class="form-control-position">
                                                <i class="la la-key"></i>
                                            </div>
                                        </fieldset>
                                        <div class="form-group row">
                                            <div class="col-md-6 col-12 text-center text-md-left">
                                                <fieldset>
                                                    {#Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
                                                    {#See https://symfony.com/doc/current/security/remember_me.html#}
                                                    <input type="checkbox" id="remember-me" name="_remember_me"
                                                           class="chk-remember">
                                                    <label for="remember-me"> Remember Me</label>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6 col-12 text-center text-md-right"><a
                                                        href="recover-password.html" class="card-link">Forgot
                                                    Password?</a></div>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-lg btn-block"><i
                                                    class="ft-unlock"></i> Login
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="">
                                    <p class="float-sm-left text-center m-0"><a href="recover-password.html"
                                                                                class="card-link">Recover password</a>
                                    </p>
                                    <p class="float-sm-right text-center m-0">New to Moden Admin? <a
                                                href="register-simple.html" class="card-link">Sign Up</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% block javascripts %}{% endblock %}
<!-- BEGIN VENDOR JS-->
<script src="{{ asset('vendors/js/vendors.min.js','backend') }}" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="{{ asset('vendors/js/charts/chart.min.js','backend') }}" type="text/javascript"></script>
<script src="{{ asset('vendors/js/charts/raphael-min.js','backend') }}" type="text/javascript"></script>
<script src="{{ asset('vendors/js/charts/morris.min.js','backend') }}" type="text/javascript"></script>
<script src="{{ asset('vendors/js/charts/jvector/jquery-jvectormap-2.0.3.min.js','backend') }}"
        type="text/javascript"></script>
<script src="{{ asset('vendors/js/charts/jvector/jquery-jvectormap-world-mill.js','backend') }}"
        type="text/javascript"></script>
<script src="{{ asset('data/jvector/visitor-data.js','backend') }}" type="text/javascript"></script>
<!-- END PAGE VENDOR JS-->
<!-- BEGIN MODERN JS-->
<script src="{{ asset('js/core/app-menu.js','backend') }}" type="text/javascript"></script>
<script src="{{ asset('js/core/app.js','backend') }}" type="text/javascript"></script>
<script src="{{ asset('js/scripts/customizer.js','backend') }}" type="text/javascript"></script>
<!-- END MODERN JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script src="{{ asset('js/scripts/pages/dashboard-sales.js','backend') }}" type="text/javascript"></script>
<!-- END PAGE LEVEL JS-->
</body>
</html>