{% extends '@backend/base.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="app-content content">
        <div class="content-wrapper">
            {{ include('@backend/profile/_breadcumb.twig',{}) }}
            <div class="content-detached content-right">
                <div class="content-body">
                    <section class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-head">
                                    <div class="card-header">
                                        <h4 class="card-title">All Contacts: {{ pagination.getTotalItemCount }}</h4>
                                        <a class="heading-elements-toggle"><i
                                                    class="la la-ellipsis-h font-medium-3"></i></a>
                                        <div class="heading-elements">
                                            <button class="btn btn-primary btn-sm"><i class="ft-plus white"></i> Add
                                                Contacts
                                            </button>
                                            <span class="dropdown">
                        <button id="btnSearchDrop1" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true" class="btn btn-warning dropdown-toggle dropdown-menu-right btn-sm"><i
                                    class="ft-download-cloud white"></i></button>
                        <span aria-labelledby="btnSearchDrop1" class="dropdown-menu mt-1 dropdown-menu-right">
                          <a href="#" class="dropdown-item"><i class="ft-upload"></i> Import</a>
                          <a href="#" class="dropdown-item"><i class="ft-download"></i> Export</a>
                          <a href="#" class="dropdown-item"><i class="ft-shuffle"></i> Find Duplicate</a>
                        </span>
                      </span>
                                            <button class="btn btn-default btn-sm"><i class="ft-settings white"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <!-- Task List table -->
                                        <div class="table-responsive">
                                            <table id="users-contacts"
                                                   class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Name</th>
                                                    <th>Gender</th>
                                                    <th>Contact</th>
                                                    <th>Favorite</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for object in pagination %}
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" class="input-chk">
                                                        </td>
                                                        <td>
                                                            <div class="media">
                                                                <div class="media-left pr-1">
                                  <span class="avatar avatar-sm avatar-online rounded-circle">
                                    <img src="{{ asset('backend/images/portrait/small/avatar-s-2.png') }}"
                                         alt="avatar"><i></i></span>
                                                                </div>
                                                                <div class="media-body media-middle">
                                                                    <a href="{{ url('admin_profile_edit',{"id":object.id}) }}"
                                                                       class="media-heading">{{ object.name }}</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="mailto:email@example.com">{{ object.gender }}</a>
                                                        </td>
                                                        <td>{{ object.contact }}</td>
                                                        <td class="text-center"><i
                                                                    class="la la-star  yellow darken-2"></i>
                                                        </td>
                                                        <td>
                                                            {{ include('@backend/profile/_index_user_menu.twig',{'user':object}) }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}


                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th>Name</th>
                                                    <th>Gender</th>
                                                    <th>Contact</th>
                                                    <th>Favorite</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                            {% include "@backend/_pager.twig" with { 'pages' : pagination.paginationData, 'routes' : 'admin_profile_index' } %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            {{ include('@backend/profile/_index_sidebar_left.twig') }}
        </div>
    </div>
{% endblock %}